{% block head %}
	{% include 'IndagoGeneralBundle::includeCss.html.twig' %}
{% endblock %}

{% block javascript %}
        {% include 'IndagoGeneralBundle::includeJs.html.twig' %}
{% endblock %}

{% block title 'Indago webSite' %}

{% block body %}
    {% block content_header %}
       {% include 'IndagoCompteBundle::header.html.twig' %}
       {#% include 'IndagoGeneralBundle:fenetresModales:fenModalIfoCompte.html.twig' %#}
    {% endblock %}
    <div class="container-fluid">
   		{% block content_sidebar %}
			
		{% endblock %}
		
		{% block content %}
		{% endblock %}
    </div>
    {#% include 'IndagoGeneralBundle:fenetresModales:fenModaleContact.html.twig' %#}
{% endblock %}
